apiVersion: v1
kind: ConfigMap
metadata:
  name: jenkins-casc
  labels:
    app: jenkins
data:
  jenkins-casc.yaml: |
    jenkins:
      systemMessage: "Jenkins configured automatically by Jenkins Configuration as Code plugin"
      numExecutors: 2
      mode: NORMAL
      scmCheckoutRetryCount: 3
      labelString: "jenkins-controller"
      
      globalNodeProperties:
        - envVars:
            env:
              - key: "GITHUB_TOKEN"
                value: "${GITHUB_TOKEN}"
      
      globalDefaultFlowDurabilityLevel:
        durabilityHint: PERFORMANCE_OPTIMIZED

    tool:
      git:
        installations:
          - name: "Default"
            home: "git"

    unclassified:
      location:
        url: "https://sourabh-jenkins.techis.store/"
      
      globalLibraries:
        libraries:
          - name: "shared-library"
            retriever:
              modernSCM:
                scm:
                  git:
                    remote: "https://github.com/your-org/jenkins-shared-library.git"
                    credentialsId: "github-credentials"

    security:
      globalJobDslSecurityConfiguration:
        useScriptSecurity: false
      
      scriptApproval:
        approvedSignatures:
          - "method groovy.json.JsonSlurperClassic parseText java.lang.String"
          - "new groovy.json.JsonSlurperClassic"
          - "staticMethod org.codehaus.groovy.runtime.DefaultGroovyMethods println java.lang.Object java.lang.Object"