# Azure Resource Group
resource_group_name = "rg-demo"
location           = "centralindia"

# Azure Container Registry
acr_name = "acrdev081125st"  # Must be globally unique
acr_sku  = "Basic"

# Azure Kubernetes Service
aks_name    = "aks-demo"
node_count  = 2
node_size   = "Standard_B2s"

# Tags
environment = "production"
managed_by  = "terraform"