apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: demo-node-pvc
  namespace: app
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: azurefile-premium
  resources:
    requests:
      storage: 10Gi
